body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Roboto", sans-serif;
}
.steps {
  padding: 40px 20px;
  border-radius: 10px;
  background: #f6f6f6;
  width: 380px;
}
p.message {
  text-align: center;
  margin: 50px 0;
  font-weight: bold;
  font-size: 21px;
}
.numbers,
.buttons {
  display: flex;
  justify-content: space-around;
}
.stepper {
  padding: 4px 12px;
  background: #e2e2e0;
  border-radius: 5px;
  font-size: 14px;
}
.numbers div {
  width: 30px;
  height: 25px;
  background: #e2e2e0;
  text-align: center;
  border-radius: 100%;
  padding-top: 5px;
}
.buttons button,
.open-close-btn {
  background: #6a46da;
  color: #fff;
  border-radius: 5px;
  padding: 5px 12px;
  border: 1px solid #987af4;
  cursor: pointer;
}
.buttons button:hover {
  background-color: #462b97;
}
.active {
  background: #6a46da !important;
  color: #fff;
}
.open-close-btn {
  position: absolute;
  right: 20px;
  top: 20px;
}
